<%-include('include/_header')%>


<main id="site-main">
    <div class="container py-3">
        <div class="d-flex justify-content-between mb-3">
            <div class="filter">
                <a href="/" class="btn btn-secondary"><i class="fas fa-angle-double-left me-2"></i>Tüm Kullanıcılar</a>
            </div>
        </div>
    </div>
     
    <%-include('include/_form')%>
</main>



<%-include('include/_footer')%>