<%- include('include/_header') %>

<main id="site-main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex justify-content-between mb-3">
          <a href="/add-user" class="btn btn-primary">
            <span class="text-gradient">New User <i class="fas fa-user"></i></span>
          </a>
        </div>
        <form action="/" method="POST">
          <table class="table">
            <thead class="table-dark">
              <tr>
                <th>ID</th>
                <th>Kullanıcı Adı</th>
                <th>Ad Soyad</th>
                <th>Şifre</th>
                <th>Rol</th>
                <th>İşlemler</th>
              </tr>
            </thead>
            <tbody>
              <%- include('include/_show') %>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</main>

<%- include('include/_footer') %>
