<tr>
    <td>1</td>
    <td>Kullanıcı Adı</td>
    <td>Ad Soyad</td>
    <td>Şifre</td>
    <td>Rol</td>
    <td>
        <a href="/update-user" class="btn borders-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn borders-shadow delete">
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>